<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diễn đàn</title>
    <link href="/template/css/global/style.css" rel="stylesheet" type="text/css">
    <link href="/template/css/global/header.css" rel="stylesheet" type="text/css">
    <link href="/template/css/global/footer.css" rel="stylesheet" type="text/css">
    <link href="/template/css/page/detail.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <div class="container-header">
        <div class="title">
            <h2>Diễn đàn</h2>
        </div>
        <div class="user">
            <div class="user-login">
                <h2><a href="/login.php">Login</a></h2>
            </div>
            <div class="user-register">
                <h2><a href="register.php">Register</a></h2>
            </div>
        </div>
    </div>
</header>
<div class="body">
    <div class="content">
        <div class="header-forum">
                <h1>Title Forum: Adding title tags to images</h1>
                <p>Date: April,02,2021|| </p>
                <p>By ChutChut</p>
        </div><hr>
        <div class="main-content">
            <p>PHP is a server scripting language, and a powerful tool for making dynamic and interactive Web pages.

                PHP is a widely-used, free, and efficient alternative to competitors such as Microsoft's ASP.

                PHP 7 is the latest stable release.</p>
            <p>
                PHP is an amazing and popular language!

                It is powerful enough to be at the core of the biggest blogging system on the web (WordPress)!
                It is deep enough to run the largest social network (Facebook)!
                It is also easy enough to be a beginner's first server side language!
            </p>
            <p>
                Why PHP?
                PHP runs on various platforms (Windows, Linux, Unix, Mac OS X, etc.)<br>
                PHP is compatible with almost all servers used today (Apache, IIS, etc.)<br>
                PHP supports a wide range of databases<br>
                PHP is free. Download it from the official PHP resource: www.php.net<br>
                PHP is easy to learn and runs efficiently on the server side<br>
                What's new in PHP 7<br>
                PHP 7 is much faster than the previous popular stable release (PHP 5.6)<br>
                PHP 7 has improved Error Handling<br>
                PHP 7 supports stricter Type Declarations for function arguments<br>
                PHP 7 supports new operators (like the spaceship operator: <=>)<br>

            </p>
        </div>
        <div class="comment">
            <div class="image-user">
                <img src="user-male.png">
            </div>
            <div class="comment-user">
                <p>GiangNguyen</p>
            </div>


        </div>
    </div>

    <div class="sidebar">
        <div class="sidebar-title">
            <h2>List post</h2>
        </div>
        <ul class="items">
            <li class="item">category1</li>
            <li class="item">category2</li>
            <li class="item">category3</li>
        </ul>

    </div>
</div>

<footer>
    <p>footer</p>
</footer>
</body>
</html>
